In [2]:
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings("ignore")

In [3]:
df1 = pd.read_excel("medium.xlsx")

In [4]:
df1

   col1       col2
0     A        ABX
1     A        Vgf
2     A       kkhg
3     A       ghjk
4     A     vujhu'
5     A    vuyuhk'
6     B  ljnhytfd'
7     B       vjg'
8     B       nkjf
9     B    vjkbnv'
10    C     fbjkf'
11    C      nfk32
12    D    rn3ij2m
13    D    3bruhd'
14    D   bxgne7n'
15    D     hjnbw6
16    D   nlqwj89'
17    D      b5wyi
18    D    nuwt5y2
19    E   dwld0dni
20    E      cwhdo
21    E  nckjqery6
22    E   nkj3m2l'

In [5]:
# getting col2 listwise for each col1 values
df1 = df1[df1.duplicated('col1', keep=False)].groupby('col1')['col2'].apply(list).reset_index()
df1

  col1                                               col2
0    A            [ABX, Vgf, kkhg, ghjk, vujhu', vuyuhk']
1    B                   [ljnhytfd', vjg', nkjf, vjkbnv']
2    C                                    [fbjkf', nfk32]
3    D  [rn3ij2m, 3bruhd', bxgne7n', hjnbw6, nlqwj89',...
4    E             [dwld0dni, cwhdo, nckjqery6, nkj3m2l']

# merge

In [6]:
cust_df = pd.DataFrame({
    'id': [11,12,13,14],
    'name': ['jon','arya','sansa','varys'],
})
cust_df

   id   name
0  11    jon
1  12   arya
2  13  sansa
3  14  varys

In [7]:
df_info = pd.DataFrame({
    'id': [11,12,13,14],
    'age': [26,20,24,45],
    'sex': ['M', 'F', 'F', 'M']
})
df_info

   id  age sex
0  11   26   M
1  12   20   F
2  13   24   F
3  14   45   M

# using single key cols

In [8]:
# Single key columns
pd.merge(cust_df, df_info, on='id')

   id   name  age sex
0  11    jon   26   M
1  12   arya   20   F
2  13  sansa   24   F
3  14  varys   45   M

# using multiple key cols

In [9]:
order_df =  pd.DataFrame({
    'id': [11,12,13,14],
    'name': ['jon','arya','sansa','varys'],
    'quantity': [7,6,3,2]})
order_df

   id   name  quantity
0  11    jon         7
1  12   arya         6
2  13  sansa         3
3  14  varys         2

In [10]:
pd.merge(cust_df, order_df, on=['id','name'])

   id   name  quantity
0  11    jon         7
1  12   arya         6
2  13  sansa         3
3  14  varys         2

# Using left_on and right_on

In [11]:
df_skills = pd.DataFrame({
    'id':[11,12,13,44],
    'experience': [5,3,2,2],
    'skill':['.net','python','sql','java']
})
df_skills

   id  experience   skill
0  11           5    .net
1  12           3  python
2  13           2     sql
3  44           2    java

In [12]:
emp_df = pd.DataFrame({
    'id': [11,12,13,14],
    'name': ['jon','arya','sansa','varys'],
})
emp_df

   id   name
0  11    jon
1  12   arya
2  13  sansa
3  14  varys

In [13]:
pd.merge(emp_df, df_skills, left_on='id', right_on='id')

   id   name  experience   skill
0  11    jon           5    .net
1  12   arya           3  python
2  13  sansa           2     sql

# inner

In [14]:
# finding intersection between "df1" and "df2"
inner_merge = pd.merge(emp_df, df_skills, how='inner', on=['id'])
inner_merge

   id   name  experience   skill
0  11    jon           5    .net
1  12   arya           3  python
2  13  sansa           2     sql

# left

In [15]:
pd.merge(emp_df, df_skills, how='left', on=['id'])

   id   name  experience   skill
0  11    jon         5.0    .net
1  12   arya         3.0  python
2  13  sansa         2.0     sql
3  14  varys         NaN     NaN

In [16]:
pd.merge(emp_df, df_skills, how='outer', on='id')

   id   name  experience   skill
0  11    jon         5.0    .net
1  12   arya         3.0  python
2  13  sansa         2.0     sql
3  14  varys         NaN     NaN
4  44    NaN         2.0    java

# remove special characters and space from a textual column in pandas

In [17]:
df1

  col1                                               col2
0    A            [ABX, Vgf, kkhg, ghjk, vujhu', vuyuhk']
1    B                   [ljnhytfd', vjg', nkjf, vjkbnv']
2    C                                    [fbjkf', nfk32]
3    D  [rn3ij2m, 3bruhd', bxgne7n', hjnbw6, nlqwj89',...
4    E             [dwld0dni, cwhdo, nckjqery6, nkj3m2l']

In [18]:
# remove brackets
cols = ['col2']
df1[cols] = df1[cols].apply(lambda x : x.astype(str).str.replace("[",""))
df1[cols] = df1[cols].apply(lambda x : x.astype(str).str.replace("]",""))

#replace inverted commas
df1[cols] = df1[cols].apply(lambda x : x.str.replace('"',"", regex=True))
df1[cols] = df1[cols].apply(lambda x : x.str.replace("'","", regex=True))

# remove space
df1['col2'] = df1['col2'].str.replace(r',\s+', ',', regex=True)

In [20]:
df2 = pd.read_excel("medium2.xlsx")
df2

  col1                                               col2     col3
0    A                     ABX,Vgf,kkhg,ghjk,vujhu,vuyuhk   vuyuhk
1    B                           ljnhytfd,vjg,nkjf,vjkbnv      dhs
2    C                                        fbjkf,nfk32    nfk32
3    D  rn3ij2m,3bruhd,bxgne7n,hjnbw6,nlqwj89,b5wyi,nu...  nuwt5y2
4    E                   dwld0dni,cwhdo,nckjqery6,nkj3m2l      hjs

In [21]:
mask = [a in b for a, b in zip(df2.col3, df2['col2'].str.split(','))]

In [22]:
mask

[True, False, True, True, False]

In [23]:
# filter matched and remove duplicates
df11 = df2[mask].drop_duplicates(['col3'],keep='first')
df11

  col1                                               col2     col3
0    A                     ABX,Vgf,kkhg,ghjk,vujhu,vuyuhk   vuyuhk
2    C                                        fbjkf,nfk32    nfk32
3    D  rn3ij2m,3bruhd,bxgne7n,hjnbw6,nlqwj89,b5wyi,nu...  nuwt5y2

error uploading: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1131)')))

# Left Merge

In [63]:
emp_df = pd.DataFrame({
    'id': [11,12,13,14,15,16,17,18,19,20],
    'name': ['jon','arya','sansa','varys','tim','tom','ron','jona','luv','kush'],
    'experience':[2,3,1,2,3,4,5,6,7,8]
})
emp_df

   id   name  experience
0  11    jon           2
1  12   arya           3
2  13  sansa           1
3  14  varys           2
4  15    tim           3
5  16    tom           4
6  17    ron           5
7  18   jona           6
8  19    luv           7
9  20   kush           8

In [64]:
emp_df2 = pd.DataFrame({
    'id': [11,12,13,14],
    'name': ['jon','arya','sansa','varys'],
})
emp_df2

   id   name
0  11    jon
1  12   arya
2  13  sansa
3  14  varys

In [65]:
Table3 = emp_df.loc[pd.merge(emp_df, emp_df2, on=['id'], how='left', indicator=True)['_merge'] == 'left_only']

In [66]:
Table3

   id  name  experience
4  15   tim           3
5  16   tom           4
6  17   ron           5
7  18  jona           6
8  19   luv           7
9  20  kush           8

In [68]:
emp_df = pd.DataFrame({
    'id': [11,12,13,14,15,16,17,18,19,20,16,17,18,19,20],
    'name': ['jon','arya','sansa','varys','tim','tom','ron','jona','luv','kush','tom','ron','jona','luv','kush'],
    'experience':[2,3,1,2,3,4,5,6,7,8,4,5,6,7,8],
    'skill':['python','sql','machine learning','excel','powerbi','tableau','python','statistics','sql','machine learning','tableau','python','statistics','sql','machine learning']
})
emp_df

    id   name  experience             skill
0   11    jon           2            python
1   12   arya           3               sql
2   13  sansa           1  machine learning
3   14  varys           2             excel
4   15    tim           3           powerbi
5   16    tom           4           tableau
6   17    ron           5            python
7   18   jona           6        statistics
8   19    luv           7               sql
9   20   kush           8  machine learning
10  16    tom           4           tableau
11  17    ron           5            python
12  18   jona           6        statistics
13  19    luv           7               sql
14  20   kush           8  machine learning

In [ ]:
# sorting and dr

In [69]:
emp_df.drop_duplicates(subset = ['id'],keep = 'first')

   id   name  experience             skill
0  11    jon           2            python
1  12   arya           3               sql
2  13  sansa           1  machine learning
3  14  varys           2             excel
4  15    tim           3           powerbi
5  16    tom           4           tableau
6  17    ron           5            python
7  18   jona           6        statistics
8  19    luv           7               sql
9  20   kush           8  machine learning

In [71]:
duplicateRows = emp_df[emp_df.duplicated()]
duplicateRows

    id  name  experience             skill
10  16   tom           4           tableau
11  17   ron           5            python
12  18  jona           6        statistics
13  19   luv           7               sql
14  20  kush           8  machine learning

In [72]:
emp_df

    id   name  experience             skill
0   11    jon           2            python
1   12   arya           3               sql
2   13  sansa           1  machine learning
3   14  varys           2             excel
4   15    tim           3           powerbi
5   16    tom           4           tableau
6   17    ron           5            python
7   18   jona           6        statistics
8   19    luv           7               sql
9   20   kush           8  machine learning
10  16    tom           4           tableau
11  17    ron           5            python
12  18   jona           6        statistics
13  19    luv           7               sql
14  20   kush           8  machine learning

In [74]:
emp_df.sort_values(['experience'],ascending = False).drop_duplicates(["id"])

   id   name  experience             skill
9  20   kush           8  machine learning
8  19    luv           7               sql
7  18   jona           6        statistics
6  17    ron           5            python
5  16    tom           4           tableau
1  12   arya           3               sql
4  15    tim           3           powerbi
0  11    jon           2            python
3  14  varys           2             excel
2  13  sansa           1  machine learning